**Section A: fundamentals of python**

In [ ]:
#1 Write a Python program to print “Hello Python”
print("Hello Python")

Hello Python

In [ ]:
#2
#addition and division
s=5
t=6
print(s+t)
print(s/t)

11
0.8333333333333334

In [ ]:
#3 Write a Python program to find the area of a triangle
base=float(input("Enter the value of base = "))
height=float(input("Enter the value of height = "))
area=0.5*base*height
print(area)

Enter the value of base = 11.5
Enter the value of height = 13.9
79.925

In [ ]:
#4 Write a Python program to swap two variables
g=int(input("Enter the number ="))
h=int(input("Enter the number = "))
g,h=h,g
print("g=",g)
print("h=",h)

Enter the number =45
Enter the number = 50
g= 50
h= 45

In [ ]:
#5 Write a Python program to generate a random number?
import random
a=random.randint(1,500)
print(a)

95

**Section B:**

In [ ]:
#1 Write a Python program to convert kilometers to miles
kilometer=float(input("Enter the value of kilometer = "))
miles=0.621*kilometer
print(miles)

Enter the value of kilometer = 10
6.21

In [ ]:
#2 Write a Python program to convert Celsius to Fahrenheit
celsius=int(input("Enter the value of celsius ="))
Fahrenheit=(celsius*1.8)+32
print(Fahrenheit)

Enter the value of celsius =25
77.0

In [ ]:
#3 Write a Python program to display calendar
import calendar
year=int(input("Enter the year ="))
print(calendar.calendar(year))

Enter the year =2022
                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [ ]:
 #4 Write a Python program to solve quadratic equation
import cmath
a=int(input("Enter a:"))
b=int(input("Enter b:"))
c=int(input("Enter c:"))
d=(b*b)-(4*a*c)
sol1=(-b-cmath.sqrt(d))/(2*a)
sol2=(-b+cmath.sqrt(d))/(2*a)
print(sol1,sol2)

Enter a:1
Enter b:2
Enter c:3
(-1-1.4142135623730951j) (-1+1.4142135623730951j)

In [ ]:
#5 Write a Python program to swap two variables without temp variable
g=int(input("Enter the number ="))
h=int(input("Enter the number = "))
g,h=h,g
print("g=",g)
print("h=",h)

Enter the number =10
Enter the number = 20
g= 20
h= 10

**Section C:**

In [ ]:
#1 Write a Python Program to Check if a Number is Positive, Negative or Zero
a = float(input("Enter a number: "))
if a > 0:
   print("Positive number")
elif a == 0:
   print("Zero")
else:
   print("Negative number")

Enter a number: -65.3
Negative number

In [ ]:
#2 Write a Python Program to Check if a Number is Odd or Even
number=int(input("Enter the number ="))
if (number % 2) ==0:
  print("Number is even ")
else:
  print("Number is odd")

Enter the number =5
Number is odd

In [3]:
#3 Write a Python Program to Check Leap Year
year = int(input("Enter tha year = "))
if (year % 400==0)and(year % 100==0):
  print("{0}is a leap year ".format(year))
elif (year % 4==0)and(year % 100 != 0):
  print("{0}is a leap year ".format(year))
else:
  print("{0} is not a leap year ".format(year))

Enter tha year = 2017
2017 is not a leap year

In [4]:
#4 Write a Python Program to Check Prime Number?
num = int(input("Enter the number = "))
f = False
if num > 1:
  for i in range(2,num):
    if (num % i)== 0:
      f = True
      break

if f:
  print(num,"is not a prime number")
else:
  print(num,"is a prime number")

Enter the number = 225
225 is not a prime number

In [5]:
#5 Write a Python Program to Print all Prime Numbers in an Interval of 1-10000?
def prime(x, y):
    prime_list = []
    for i in range(x, y):
        if i == 0 or i == 1:
            continue
        else:
            for j in range(2, int(i/2)+1):
                if i % j == 0:
                    break
            else:
                prime_list.append(i)
    return prime_list
 
starting_range = 1
ending_range = 10000
lst = prime(starting_range, ending_range)
if len(lst) == 0:
    print("There are no prime numbers in this range")
else:
    print("The prime numbers in this range are: ", lst)

The prime numbers in this range are:  [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997, 1009, 1013, 1019, 1021, 1031, 1033, 1039, 1049, 1051, 1061, 1063, 1069, 1087, 1091, 1093, 1097, 1103, 1109, 1117, 1123, 1129, 1151, 1153, 1163, 1171, 1181, 1187, 1193, 1201, 1213, 1217, 1223, 1229, 1231, 1237, 1249, 1259, 1277, 1279, 1283, 1289, 1291, 1297, 1301, 1303, 1307, 1319, 1321, 1327, 1361, 1367, 1373, 1381, 1399, 1409, 1423, 1427, 1429, 1433, 1439, 1447, 1451, 1453, 1459, 1471, 1481, 1483, 1487, 1489, 1493, 1499, 1511, 1523, 1531, 1543, 1549, 1553, 1559, 1567, 1571, 1579, 1583, 1597, 1601, 1607, 1609, 1613, 1619, 1621, 1627, 1637, 1657, 1663, 1667, 1669, 1693, 1697, 1699, 1709, 1721, 1723, 1733, 1741, 1747, 1753, 1759, 1777, 1783, 1787, 1789, 1801, 1811, 1823, 1831, 1847, 1861, 1867, 1871, 1873, 1877, 1879, 1889, 1901, 1907, 1913, 1931, 1933, 1949, 1951, 1973, 1979, 1987, 1993, 1997, 1999, 2003, 2011, 2017, 2027, 2029, 2039, 2053, 2063, 2069, 2081, 2083, 2087, 2089, 2099, 2111, 2113, 2129, 2131, 2137, 2141, 2143, 2153, 2161, 2179, 2203, 2207, 2213, 2221, 2237, 2239, 2243, 2251, 2267, 2269, 2273, 2281, 2287, 2293, 2297, 2309, 2311, 2333, 2339, 2341, 2347, 2351, 2357, 2371, 2377, 2381, 2383, 2389, 2393, 2399, 2411, 2417, 2423, 2437, 2441, 2447, 2459, 2467, 2473, 2477, 2503, 2521, 2531, 2539, 2543, 2549, 2551, 2557, 2579, 2591, 2593, 2609, 2617, 2621, 2633, 2647, 2657, 2659, 2663, 2671, 2677, 2683, 2687, 2689, 2693, 2699, 2707, 2711, 2713, 2719, 2729, 2731, 2741, 2749, 2753, 2767, 2777, 2789, 2791, 2797, 2801, 2803, 2819, 2833, 2837, 2843, 2851, 2857, 2861, 2879, 2887, 2897, 2903, 2909, 2917, 2927, 2939, 2953, 2957, 2963, 2969, 2971, 2999, 3001, 3011, 3019, 3023, 3037, 3041, 3049, 3061, 3067, 3079, 3083, 3089, 3109, 3119, 3121, 3137, 3163, 3167, 3169, 3181, 3187, 3191, 3203, 3209, 3217, 3221, 3229, 3251, 3253, 3257, 3259, 3271, 3299, 3301, 3307, 3313, 3319, 3323, 3329, 3331, 3343, 3347, 3359, 3361, 3371, 3373, 3389, 3391, 3407, 3413, 3433, 3449, 3457, 3461, 3463, 3467, 3469, 3491, 3499, 3511, 3517, 3527, 3529, 3533, 3539, 3541, 3547, 3557, 3559, 3571, 3581, 3583, 3593, 3607, 3613, 3617, 3623, 3631, 3637, 3643, 3659, 3671, 3673, 3677, 3691, 3697, 3701, 3709, 3719, 3727, 3733, 3739, 3761, 3767, 3769, 3779, 3793, 3797, 3803, 3821, 3823, 3833, 3847, 3851, 3853, 3863, 3877, 3881, 3889, 3907, 3911, 3917, 3919, 3923, 3929, 3931, 3943, 3947, 3967, 3989, 4001, 4003, 4007, 4013, 4019, 4021, 4027, 4049, 4051, 4057, 4073, 4079, 4091, 4093, 4099, 4111, 4127, 4129, 4133, 4139, 4153, 4157, 4159, 4177, 4201, 4211, 4217, 4219, 4229, 4231, 4241, 4243, 4253, 4259, 4261, 4271, 4273, 4283, 4289, 4297, 4327, 4337, 4339, 4349, 4357, 4363, 4373, 4391, 4397, 4409, 4421, 4423, 4441, 4447, 4451, 4457, 4463, 4481, 4483, 4493, 4507, 4513, 4517, 4519, 4523, 4547, 4549, 4561, 4567, 4583, 4591, 4597, 4603, 4621, 4637, 4639, 4643, 4649, 4651, 4657, 4663, 4673, 4679, 4691, 4703, 4721, 4723, 4729, 4733, 4751, 4759, 4783, 4787, 4789, 4793, 4799, 4801, 4813, 4817, 4831, 4861, 4871, 4877, 4889, 4903, 4909, 4919, 4931, 4933, 4937, 4943, 4951, 4957, 4967, 4969, 4973, 4987, 4993, 4999, 5003, 5009, 5011, 5021, 5023, 5039, 5051, 5059, 5077, 5081, 5087, 5099, 5101, 5107, 5113, 5119, 5147, 5153, 5167, 5171, 5179, 5189, 5197, 5209, 5227, 5231, 5233, 5237, 5261, 5273, 5279, 5281, 5297, 5303, 5309, 5323, 5333, 5347, 5351, 5381, 5387, 5393, 5399, 5407, 5413, 5417, 5419, 5431, 5437, 5441, 5443, 5449, 5471, 5477, 5479, 5483, 5501, 5503, 5507, 5519, 5521, 5527, 5531, 5557, 5563, 5569, 5573, 5581, 5591, 5623, 5639, 5641, 5647, 5651, 5653, 5657, 5659, 5669, 5683, 5689, 5693, 5701, 5711, 5717, 5737, 5741, 5743, 5749, 5779, 5783, 5791, 5801, 5807, 5813, 5821, 5827, 5839, 5843, 5849, 5851, 5857, 5861, 5867, 5869, 5879, 5881, 5897, 5903, 5923, 5927, 5939, 5953, 5981, 5987, 6007, 6011, 6029, 6037, 6043, 6047, 6053, 6067, 6073, 6079, 6089, 6091, 6101, 6113, 6121, 6131, 6133, 6143, 6151, 6163, 6173, 6197, 6199, 6203, 6211, 6217, 6221, 6229, 6247, 6257, 6263, 6269, 6271, 6277, 6287, 6299, 6301, 6311, 6317, 6323, 6329, 6337, 6343, 6353, 6359, 6361, 6367, 6373, 6379, 6389, 6397, 6421, 6427, 6449, 6451, 6469, 6473, 6481, 6491, 6521, 6529, 6547, 6551, 6553, 6563, 6569, 6571, 6577, 6581, 6599, 6607, 6619, 6637, 6653, 6659, 6661, 6673, 6679, 6689, 6691, 6701, 6703, 6709, 6719, 6733, 6737, 6761, 6763, 6779, 6781, 6791, 6793, 6803, 6823, 6827, 6829, 6833, 6841, 6857, 6863, 6869, 6871, 6883, 6899, 6907, 6911, 6917, 6947, 6949, 6959, 6961, 6967, 6971, 6977, 6983, 6991, 6997, 7001, 7013, 7019, 7027, 7039, 7043, 7057, 7069, 7079, 7103, 7109, 7121, 7127, 7129, 7151, 7159, 7177, 7187, 7193, 7207, 7211, 7213, 7219, 7229, 7237, 7243, 7247, 7253, 7283, 7297, 7307, 7309, 7321, 7331, 7333, 7349, 7351, 7369, 7393, 7411, 7417, 7433, 7451, 7457, 7459, 7477, 7481, 7487, 7489, 7499, 7507, 7517, 7523, 7529, 7537, 7541, 7547, 7549, 7559, 7561, 7573, 7577, 7583, 7589, 7591, 7603, 7607, 7621, 7639, 7643, 7649, 7669, 7673, 7681, 7687, 7691, 7699, 7703, 7717, 7723, 7727, 7741, 7753, 7757, 7759, 7789, 7793, 7817, 7823, 7829, 7841, 7853, 7867, 7873, 7877, 7879, 7883, 7901, 7907, 7919, 7927, 7933, 7937, 7949, 7951, 7963, 7993, 8009, 8011, 8017, 8039, 8053, 8059, 8069, 8081, 8087, 8089, 8093, 8101, 8111, 8117, 8123, 8147, 8161, 8167, 8171, 8179, 8191, 8209, 8219, 8221, 8231, 8233, 8237, 8243, 8263, 8269, 8273, 8287, 8291, 8293, 8297, 8311, 8317, 8329, 8353, 8363, 8369, 8377, 8387, 8389, 8419, 8423, 8429, 8431, 8443, 8447, 8461, 8467, 8501, 8513, 8521, 8527, 8537, 8539, 8543, 8563, 8573, 8581, 8597, 8599, 8609, 8623, 8627, 8629, 8641, 8647, 8663, 8669, 8677, 8681, 8689, 8693, 8699, 8707, 8713, 8719, 8731, 8737, 8741, 8747, 8753, 8761, 8779, 8783, 8803, 8807, 8819, 8821, 8831, 8837, 8839, 8849, 8861, 8863, 8867, 8887, 8893, 8923, 8929, 8933, 8941, 8951, 8963, 8969, 8971, 8999, 9001, 9007, 9011, 9013, 9029, 9041, 9043, 9049, 9059, 9067, 9091, 9103, 9109, 9127, 9133, 9137, 9151, 9157, 9161, 9173, 9181, 9187, 9199, 9203, 9209, 9221, 9227, 9239, 9241, 9257, 9277, 9281, 9283, 9293, 9311, 9319, 9323, 9337, 9341, 9343, 9349, 9371, 9377, 9391, 9397, 9403, 9413, 9419, 9421, 9431, 9433, 9437, 9439, 9461, 9463, 9467, 9473, 9479, 9491, 9497, 9511, 9521, 9533, 9539, 9547, 9551, 9587, 9601, 9613, 9619, 9623, 9629, 9631, 9643, 9649, 9661, 9677, 9679, 9689, 9697, 9719, 9721, 9733, 9739, 9743, 9749, 9767, 9769, 9781, 9787, 9791, 9803, 9811, 9817, 9829, 9833, 9839, 9851, 9857, 9859, 9871, 9883, 9887, 9901, 9907, 9923, 9929, 9931, 9941, 9949, 9967, 9973]

**Section D**

In [7]:
#1 Write a Python Program to Find the Factorial of a Number
num = int(input("Enter the number = "))
factorial = 1
if num < 0:
  print("there is no factorial of negative number")
elif num== 0:
  print("the factorial of 0 is 1")
else:
  for i in range (1,num+1):
    factorial = factorial*i
  print("The factorial of",num,"is",factorial)

Enter the number = 5
The factorial of 5 is 120

In [8]:
#2 Write a Python Program to Display the multiplication Table
a = int(input("Enter the number = "))
for i in range (1,11):
  print(a,'x',i,'=',num*i)

Enter the number = 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [12]:
#3 Write a Python Program to Print the Fibonacci sequence
def fib(n):
    a = 0
    b = 1
    if n == 1:
        print(a)
    else:
        print(a)
        print(b)
        for i in range(2,n):
            c = a + b
            a = b
            b = c
            print(c)
fib(10)

0
1
1
2
3
5
8
13
21
34

In [13]:
#4 Write a Python Program to Check Armstrong Number

n = int(input("Enter a number: "))
s = 0
t = n
while t > 0:
  digit = t % 10
  s += digit ** 3
  t //= 10
if n == s:
  print(n,"is an Armstrong number")
else:
  print(n,"is not an Armstrong number")

Enter a number: 5
5 is not an Armstrong number

In [20]:
#5 Write a Python Program to Find Armstrong Number in an Interval

lower = 100
upper = 2000

for num in range(lower, upper + 1):

   
   order = len(str(num))
    
  
   sum = 0

   temp = num
   while temp > 0:
       digit = temp % 10
       sum += digit ** order
       temp //= 10

   if num == sum:
       print(num)

153
370
371
407
1634

In [21]:
#6 Write a Python Program to Find the Sum of Natural Numbers


number = int(input("Enter the number = "))

if number < 0:
   print("Enter a positive number")
else:
   sum = 0
   # use while loop to iterate until zero
   while(number > 0):
       sum += number
       number -= 1
   print("The sum is", sum)

Enter the number = 10
The sum is 55

**Section E:**

In [23]:
#1 Write a Python Program to find sum of array?
a = [1, 2, 3, 4, 5, 6, 7,8,9,10,11,12]
sum = 0

for i in range (len(a)):
  sum = sum + a[i]
print(sum)

78

In [27]:
#2 Write a Python Program to find largest element in an array?
def fun(array, n):
    array.sort()
    return array[n-1]
 
arr = [10,15,16,88,99,95,998,65985]
n = len(arr)
Ans = fun(arr, n)
print("Largest in given array ", Ans)

Largest in given array  65985

In [28]:
#3 Write a Python Program for array rotation
def rotateArray(arr, n, d):
    temp = []
    i = 0
    while (i < d):
        temp.append(arr[i])
        i = i + 1
    i = 0
    while (d < n):
        arr[i] = arr[d]
        i = i + 1
        d = d + 1
    arr[:] = arr[: i] + temp
    return arr

arr = [1,2,5,9,8,4,7,6,3,1,5]
print("Array after left rotation is: ", end=' ')
print(rotateArray(arr, len(arr), 2))

Array after left rotation is:  [5, 9, 8, 4, 7, 6, 3, 1, 5, 1, 2]

In [30]:
#4 Write a Python Program to Split the array and add the first part to the end
def splitArr(arr, n, k): 
    for i in range(0, k): 
        x = arr[0]
        for j in range(0, n-1):
            arr[j] = arr[j + 1]
          
        arr[n-1] = x

arr = [1,4,5,6,48,9,4]
n = len(arr)
position = 5
  
splitArr(arr, n, position)
  
for i in range(0, n): 
    print(arr[i], end = ' ')

9 4 1 4 5 6 48

In [31]:
#5 Write a Python Program to check if given array is Monotonic
def Monotonic(A):
  
    return (all(A[i] <= A[i + 1] for i in range(len(A) - 1)) or
            all(A[i] >= A[i + 1] for i in range(len(A) - 1)))
  
A = [6,6,9,8,4,5,6,3,2,4,7]
  
print(Monotonic(A))

False

**Section F**

In [32]:
#1 Write a Python program to find sum of elements in list
num = [1, 2, 3, 4, 5]
total = 0
for x in num:
    total += x

print(total)

15

In [33]:
#2 Write a Python program to Multiply all numbers in the list
def multiply(numbers):  
    total = 1
    for n in numbers:
        total *= n  
    return total  
print(multiply((1, 2, 3, 5, 6,7)))

1260

In [34]:
#3 Write a Python program to find smallest number in a list
a = [10, 50, 60, 80, 20, 15]

print("The Smallest Element in this List is : ", min(a))

The Smallest Element in this List is :  10

In [35]:
#4 Write a Python program to find largest number in a list
lis = [1, 10, 40, 36, 16]
lis.sort()
print("Largest number in the list is:", lis[-1])

Largest number in the list is: 40

In [36]:
#5 Write a Python program to find second largest number in a list
def second_largest(list):
    list.sort()
    return list[-2]


li=[]
n=int(input("Enter size of list "))
for i in range(0,n):
    e=int(input("Enter element of list "))
    li.append(e)


print("second largest in ",li,"is")
print(second_largest(li))

Enter size of list 5
Enter element of list 1
Enter element of list 2
Enter element of list 3
Enter element of list 4
Enter element of list 5
second largest in  [1, 2, 3, 4, 5] is
4

In [37]:
#6 Write a Python program to find N largest elements from a list
def LargestFunc(list1, N):
	new_list = []
	for i in range(0, N):
		max1 = 0
		for j in range(len(list1)):
			if list1[j] > max1:
				max1 = list1[j];
			
		list1.remove(max1);
		new_list.append(max1)
	print("Largest numbers = ",new_list)



my_list = [12, 61, 41, 85, 40, 13, 77, 65, 100]
N = 4

LargestFunc(my_list, N)

Largest numbers =  [100, 85, 77, 65]

In [38]:
#7 Write a Python program to print even numbers in a list
list1 = [11, 23, 45, 23, 64, 22, 11, 24]


for num in list1:
    
    if num % 2 == 0:
        print(num, end=" ")

64 22 24

In [40]:
#8 Write a Python program to print odd numbers in a List?
def odd(list):
    new_list=[]
    for i in list:
        if i%2!=0:               
            new_list.append(i)
    return new_list


li=[]
n=int(input("Enter size of list "))
for i in range(0,n):
    e=int(input("Enter element of list "))
    li.append(e)

print("Odd numbers in ",li)
print(odd(li))

Enter size of list 5
Enter element of list 1
Enter element of list 2
Enter element of list 3
Enter element of list 4
Enter element of list 5
Odd numbers in  [1, 2, 3, 4, 5]
[1, 3, 5]

In [41]:
#9 Write a Python program to Remove empty List from List
myList = [1, [], 2, 3, [], 4, 5, [], [], 9]


print("The original list is : " + str(myList))


result = list(filter(None, myList))


print ("List after empty list removal : " + str(result))

The original list is : [1, [], 2, 3, [], 4, 5, [], [], 9]
List after empty list removal : [1, 2, 3, 4, 5, 9]

In [42]:
#10 Write a Python program to Cloning or Copying a list?
original_list = [10, 22, 44, 23, 4]
new_list = list(original_list)
print(original_list)
print(new_list)

[10, 22, 44, 23, 4]
[10, 22, 44, 23, 4]

In [43]:
#11 Write a Python program to Count occurrences of an element in a list?
def count_occurrence(list, n):
    

    count=0
    for i in list:
        if(i==n):
          
            count=count+1
    return count


li=[]
n=int(input("Enter size of list "))
for i in range(0,n):
    e=int(input("Enter element of list "))
    li.append(e)
print("Original list: ",li)

x=int(input("Enter element to be checked list: "))


print(x," has occurred ",count_occurrence(li, x),"times")

Enter size of list 5
Enter element of list 1
Enter element of list 2
Enter element of list 3
Enter element of list 4
Enter element of list 5
Original list:  [1, 2, 3, 4, 5]
Enter element to be checked list: 2
2  has occurred  1 times