# **Section A**

In [ ]:
#1 Create a function that takes three integer arguments (a, b, c) and returns the amount of integers which are of equal value.

def num(x,y,z,) :
  if x == y and x == z:
    return 3
  elif x==y or x==z:
    return 2
  else:
    return 0
print(num(2,1,3))

0

In [ ]:
#2 Write a function that converts a dictionary into a list of keys-values tuples.
dict = { 'Vedant': 13, 'Sndesh': 19, 'Saurabh': 44 }
list = [(a, b) for a, b in dict.items()]
print(sorted(list))

[('Saurabh', 44), ('Sndesh', 19), ('Vedant', 13)]

In [4]:
#3 Write a function that creates a dictionary with each (key, value) pair being the (lower case, upper case) versions of a letter, respectively.
list = ['v','e','d','a','n','t']
a = {}

for letters in list:
  b = letters.upper()
  a.update({letters:b})
print(a)

{'v': 'V', 'e': 'E', 'd': 'D', 'a': 'A', 'n': 'N', 't': 'T'}

In [5]:
#4 Write a function, that replaces all vowels in a string with a specified vowel.
print("Enter the String: ")
str = input()

print("Enter a character: ")
char = input()

newstr = ""
for i in range(len(str)):
    if str[i]=='a' or str[i]=='e' or str[i]=='i' or str[i]=='o' or str[i]=='u':
        newstr = newstr + char
    else:
        newstr = newstr + str[i]

print("\nOriginal String:", str)
print("New String:", newstr)

Enter the String:
vedant
Enter a character:
x

Original String: vedant
New String: vxdxnt

In [6]:
#5 Create a function that takes a string as input and capitalizes a letter if its ASCII code is even and returns its lower case version if its ASCII code is odd.
def ascii(st):
  res=[]
  for index, c in enumerate(st):
    if index%2==0:
      res.append(c.upper())
    else:
      res.append(c.lower())
  return''.join(res)
print(ascii("Vedant"))

VeDaNt

**Section B**

In [7]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [8]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [9]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [11]:
# Python program to convert Celsius to Fahrenheit using function

def convertTemp(c):
   f = (c * 1.8) + 32
   return f
    

cel = float(input('Enter temperature in Celsius: '))


fahr = convertTemp(cel)
print('%0.1f degrees Celsius is equivalent to %0.1f degrees Fahrenheit' %(cel, fahr))

Enter temperature in Celsius: 100
100.0 degrees Celsius is equivalent to 212.0 degrees Fahrenheit

In [12]:
def kilometre_1(km):  
    conversion_ratio_1= 0.621371  
    miles_1 = km * conversion_ratio_1  
    print ("The speed value of car in Miles: ", miles_1)  
km = float (input ("Please enter the speed of car in Kilometre as a unit: "))  
kilometre_1(km)

Please enter the speed of car in Kilometre as a unit: 25
The speed value of car in Miles:  15.534275000000001